<div>
  <h1 class="page-header">
      Rejestracja
  </h1>

    <form name="itemForm" novalidate ng-submit="register()" ng-init="current.enabled = false;">
        <fieldset>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="loginId" class="control-label">Login (wymagane)</label>
                        <input class="form-control" placeholder="login" id="loginId" ng-model="current.login" required
                               hrt-btr-validation>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="passwordId" class="control-label">Haslo</label>
                        <input class="form-control" placeholder="Haslo" type="password" hrt-btr-validation
                               id="passwordId" ng-model="current.password" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="mailId" class="control-label">Adres email (wymagane)</label>
                        <input name="email" type="text" class="form-control" placeholder="np. jankowalski@o2.pl" id="mailId"
                               ng-model="current.email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" hrt-btr-validation>
                        <p ng-show="!itemForm.email.$pristine" ng-if="itemForm.email.$error.pattern">Wprowadz poprawny adres email</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nameId" class="control-label">Imie (wymagane)</label>
                        <input type="text" class="form-control" placeholder="np. Polska" id="nameId"
                               ng-model="current.name" required hrt-btr-validation>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="surnameId" class="control-label">Nazwisko (wymagane)</label>
                        <input class="form-control" id="surnameId" placeholder="Radom" ng-model="current.surname"
                               required hrt-btr-validation>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="birthDate" class="control-label">Data urodzenia (wymagane)</label>
                        <input type="date" class="form-control" id="birthDate" ng-model="current.birthDate">{{current.birthDate}}
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Adres</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="countryId" class="control-label">Kraj (wymagane)</label>
                        <input type="text" class="form-control" placeholder="np. Polska" id="countryId"
                                ng-model="current.address.country" required hrt-btr-validation>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cityId" class="control-label">Miasto (wymagane)</label>
                        <input class="form-control" id="cityId" placeholder="Radom" ng-model="current.address.city"
                               required hrt-btr-validation>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="streetId" class="control-label">Ulica (wymagane)</label>
                        <input class="form-control" id="streetId" placeholder="Zakrzowska"
                               ng-model="current.address.street" required hrt-btr-validation>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="postcodePLId" class="control-label">Kod pocztowy (wymagane)</label>
                        <input name="zipcode" class="form-control" ng-pattern="zipCodePatternPL" id="postcodePLId"
                               placeholder="np. 20-434" ng-model="current.address.postcode"
                               required hrt-btr-validation>
                        <p ng-show="!itemForm.zipcode.$pristine" ng-if="itemForm.zipcode.$error.pattern">Wprowadz poprawny kod pocztowy (99-999)</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="buildingId" class="control-label">Numer budynku (wymagane)</label>
                        <input class="form-control" placeholder="np. 32A" id="buildingId"
                               ng-model="current.address.buildingNumber" required hrt-btr-validation>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="localId" class="control-label">Numer lokalu</label>
                        <input class="form-control" placeholder="np. 13" id="localId"
                               ng-model="current.address.apartmentNumber">
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <button class="btn btn-success center-block" ng-disabled="itemForm.$invalid" type="submit">Zaloz konto</button>
        </div>
    </form>
</div>

