<div class="container">
    <div class="col-md-10">
        <h2>Accordion Example</h2>
        <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="item in availableReservations  | orderBy:'startDate'">
                <div class="panel-heading" ng-click="addReservationToUser(item, $index)">
                    <h4 class="panel-title">
                        Pokoj: nr {{item.room.roomNr}} , standard: {{item.room.standard}} | Data: {{item.startDate | date:'yyyy-MM-dd'}} - {{item.endDate | date:'yyyy-MM-dd'}} | Koszt: {{item.totalCost}}zl
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>