<div class="">
    <div class="">
        <div class="well ">
            <h1>Profil Użytkownika - {{user.name}} {{user.surname}}</h1>
            <hr>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="s" class="control-label">Imię</label>
                        <input class="form-control" id="s"
                               ng-model="user.name" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="d" class="control-label">Adres email</label>
                        <input class="form-control" id="d"
                               ng-model="user.email" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="a" class="control-label">Login</label>
                        <input class="form-control" id="a"
                               ng-model="user.login" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="miastoId" class="control-label">Miasto</label>
                        <input class="form-control" id="miastoId"
                               ng-model="user.address.city" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ulicaId" class="control-label">Ulica</label>
                        <input class="form-control" id="ulicaId"
                               ng-model="user.address.street" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="krajId" class="control-label">Kraj</label>
                        <input class="form-control" id="krajId"
                               ng-model="user.address.country" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="panel-group col-md-4" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#">Edytuj profil</a>
                </h3>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#">Zmien zdjecie profilowe</a>
                </h3>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" ui-sref="profile.reservations">
                <h3 class="panel-title">
                    <a href="#">Moje rezerwacje</a>
                </h3>
            </div>
        </div>
    </div>

    <div class="col-md-8" ui-view="right"></div></div>
</div>
