<div >
    <div>
        <h1>Wybierz rezerwacje</h1>
        <p><strong>Uwaga:</strong> <strong>Wybierz czy chcesz przeglądać obecne rezerwacje czy zakończone już rezerwacje.</strong> </p>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" style="cursor:pointer">
                <div class="panel-heading" ng-click="getCurrentReservations()">
                    <h4 class="panel-title">
                        Obecne rezerwacje
                    </h4>
                </div>
            </div>
            <div class="panel panel-default" style="cursor:pointer">
                <div class="panel-heading" ng-click="getHistoryReservations()">
                    <h4 class="panel-title">
                        Historia rezerwacji
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <h2>{{title}}</h2>
            <p ng-if="title"><strong>Rezerwacje:</strong> Przeglądaj <strong>rezerwacje</strong> Zostaną one wyświetlone w liście poniżej. Kliknij na interesująca Cię pozycje aby zobaczyć szczegóły.</p>
            <alert type="success" ng-if="reservations.length==0">Brak rezerwacji spelniajacych kryteria</alert>
            <div class="panel-group" >
                <accordion close-others="false">
                    <accordion-group ng-repeat="item in reservations" style="cursor:pointer" heading="Numer rezerwacji: {{item.id}}, Poczatek rezerwacji: {{item.startDate}} , Status: {{item.status}}">
                                <div style="padding: 6px; border-radius: 6px;" ng-class="item.status=='ANULOWANA' ? 'bg-danger' : 'bg-success'">
                                    <fieldset>
                                        <legend>Dane rezerwacji</legend>
                                        <strong>Numer rezerwacji:</strong> #{{item.id}}</br>
                                        <strong>Termin:</strong> {{item.startDate | date:'yyyy-MM-dd'}} - {{item.endDate | date:'yyyy-MM-dd'}}</br>
                                        <strong>Status:</strong> {{item.status}}</br>
                                        <strong>Pokoj:</strong> nr: {{item.room.roomNr}}, standard: {{item.room.standard}}</br>
                                        <strong>Koszt:</strong> {{item.totalCost}}zl<hr>
                                        <button type="button" ng-if="cancelAvailable(item.startDate, item.status)" class="btn btn-danger" ng-click="cancelReservation(item.id)">Anuluj rezerwacje</button>
                                    </fieldset>
                                </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>

</div>
